<div class="card">
    <div class="row">
        <aside class="col-lg-3 col-sm-3 menu-left">
            <div class="title">
                <i class='fas fa-th-list' style='font-size:36px'></i><br>
                <img src="assets/boot.jpg" alt="hinh anh">
                <p>SuperVisor</p>
              </div>
            <div class="list">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class='fas fa-house-damage'></i> Home</li>
                <li class="list-group-item"><i class='fas fa-house-damage'></i> Employees</li>
                <li class="list-group-item"><i class='fas fa-house-damage'></i> Project</li>
                <li class="list-group-item"><i class='fas fa-house-damage'></i> Skills</li>
                <li class="list-group-item"><i class='fas fa-house-damage'></i> Interns</li>
                <li class="list-group-item"><i class='fas fa-house-damage'></i> Topic</li>
                <li class="list-group-item"><i class='fas fa-house-damage'></i> Courses</li>
                <li class="list-group-item"><i class='fas fa-house-damage'></i> Topic_Courses</li>
                <li class="list-group-item"><i class='fas fa-house-damage'></i> Classes</li>
              </ul>
            </div>
        </aside>
        <!--Menu right   -->
        <article class="col-lg-9 col-sm-9 menu-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Skills</li>
            </ol>
          </nav>
          <!--Thanh tim kiem-->
          <div class="search">
            <span>Show    </span>
            <select name="cars" style="width:90px;">
              <option value="volvo">10</option>
              <option value="saab">11</option>
              <option value="fiat">12</option>
              <option value="audi">13</option>

            </select>
            <span>enties</span>
            
              <button type="button" class="btn btn-primary mar-btn my-btn">Excel</button>
              <button type="button" class="btn btn-primary my-btn">PDF</button>
              <input type="text" placeholder=" Search "/>
              <button type="button" class="btn btn-primary">+ Add Employee</button>
          </div>
          <!--Bangr thong tin-->
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Cong</td>
                <td>Ngo</td>
                <td>ntcong@tma.com.vn</td>
                <td><i class='fas fa-street-view' style="color:green;"></i>  <i class='fas fa-pencil-alt' style="color:#3399FF;"></i>   <i class='far fa-envelope' style="color:red;"></i></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Thuy</td>
                <td>Thanh</td>
                <td>aa@gamil.com</td>
                <td><i class='fas fa-street-view' style="color:green;"></i>  <i class='fas fa-pencil-alt' style="color:#3399FF;"></i>   <i class='far fa-envelope' style="color:red;"></i></td>

              </tr>
              <tr>
                <td>3</td>
                <td>THanh</td>
                <td>Thuy</td>
                <td>Thanhthuy@gmail.com</td>
                <td><i class='fas fa-street-view' style="color:green;"></i>  <i class='fas fa-pencil-alt' style="color:#3399FF;"></i>   <i class='far fa-envelope' style="color:red;"></i></td>

              </tr>
              <tr>
                <td>4</td>
                <td>Quy</td>
                <td>Tran</td>
                <td>quitran@tma.com.vn</td>
                <td><i class='fas fa-street-view' style="color:green;"></i>  <i class='fas fa-pencil-alt' style="color:#3399FF;"></i>   <i class='far fa-envelope' style="color:red;"></i></td>

              </tr>
              <tr>
                <td>5</td>
                <td>Nguyen</td>
                <td>Tran</td>
                <td>ttnguyen1@tma.com.vn</td>
                <td><i class='fas fa-street-view' style="color:green;"></i>  <i class='fas fa-pencil-alt' style="color:#3399FF;"></i>   <i class='far fa-envelope' style="color:red;"></i></td>

              </tr>
            </tbody>
          </table>
          <!--footer     -->
          <div class="pag">
            <span>Showing 1 to 5of 5 Employees</span>

            <nav aria-label="Page navigation example" class="foot">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>

          </div>
          
        </article>
    </div>
</div>
